@CHARSET "ISO-8859-1";

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


.pinkheader{
	height: 300px;
}

.botonnavbar{
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
  color: black;
  padding: 10px 10px;
  font-size: 13px;
  cursor: pointer;
  border-color: #ff6b9b;
  color: #ff6b9b;
  margin-left: 6px;
  margin-right: 6px;
}

.botonnavbar:hover {
  background-color: #ff6b9b;
  color: white;
}

.imgdriver, .imgpassenger{
	margin-left: 10%;
	
}

.imgpassenger{
	margin-top: 3%;
/* position: relative;
 vertical-align: middle;
 padding-top: -10px;
 padding-bottom: 0px;
 margin-left: -50vw;
 margin-top: 0px;
 left: 90%;
 top: -30px; */	
}

.pinkheader .btn-light  {
 position: relative;
 /* vertical-align: middle; */
 /* padding-top: 20px;
 padding-bottom: 20px;
 padding-right: 60px;
 top: 160px;
 margin-left: 10vw; */
 background-color: #fff;
 color: #0086ff;
	
}